*{
    margin: 0%;
    padding: 0%;
}
html, body{
    min-height: 100% !important;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.container{
    height: 100%;
    background-color: black;
}
.result{
    background-color: black;
    height: 29%;
    color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
.result span{
    margin-right: 10px;
    font-size: 110px;
    justify-self: flex-end;
} 
.buttons{
    width: 100%;
    height: 71%;
    background-color: black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    cursor: pointer;
    align-self: center;
    justify-items: center;
}
.item1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px ;
    border-radius: 100%;
    background-color: #a7a6a7;
    width: 90px;
    height: 90px;
    border: none;
    cursor: pointer;
}
.item2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px ;
    border-radius: 100%;
    background-color: #ff9601;
    border: none;
    width: 90px;
    height: 90px;
    border: none;
    color: white;
    cursor: pointer;
}

.item3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px ;
    border-radius: 100%;
    background-color: #333333;
    border: none;
    width: 90px;
    height: 90px;
    border: none;
    color: white;
    cursor: pointer;
}

.zero{
    height: 90px;
    font-size: 29px ;
    border-radius: 160px;
    background-color: #333333;
    color: white;
    border: none;
    cursor: pointer;
    width: 180px;
    border: none;
    grid-column: span 2;
}

#result{
    background-color: black;
    color: white;
    border: none;
    margin: 0%;
    padding: 0%;
    text-align: end;
    padding-right: 60px;
    padding-bottom: 40px;
    font-size: 70px;
}